<div >
  <h1 >Edit Statement</h1>

  <br>
  <br>
  <% if @statement.errors.any? %>
    <div class="container">
      <p> Something went wrong, please check the following items: </p>
      <ul class="list-group">
        <% @statement.errors.each do |error| %>
          <li class="list-group-item list-group-item-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <%= link_to "Add more items", '#', id: "add_statement_items",class: "btn btn-primary" %>
    </div>
    <br>
    <br>
    <%= render "form", statement: @statement, statement_items: @statement.statement_items %>
    
  </div>
</div>
